<div class="row g-6 mb-6">
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Total Travelers</span
            >
            <span class="h3 font-bold mb-0">
              {{ totalPassengers?.length }}
            </span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-warning text-white text-lg rounded-circle"
            >
              <i class="bi bi-people-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 col-12">
    <div class="card shadow border-0" style="height: 100%">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <span class="h6 font-semibold text-muted text-sm d-block mb-2"
              >Checked in Travelers</span
            >
            <span class="h3 font-bold mb-0">{{
              totalCheckedInPassengers?.length
            }}</span>
          </div>
          <div class="col-auto">
            <div
              class="icon icon-shape bg-success text-white text-lg rounded-circle"
            >
              <i class="bi bi-check-square-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
